#Creating {
    padding-left: 50px;
}

h1{
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 40px;
}

.sign{
    margin-left: 75px;
}

#passwordsign{
    margin-left: 75px;
}

#addbtn{
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 70px;
    border-radius: 10%;
    border: none;
    height: 25px;
    background-color:rgb(23, 170, 43);
    color: white; 
    font-weight: bold;
    cursor: pointer;
}

#backbtn{
    width: 70px;
    border-radius: 10%;
    border: none;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
}

.informacja{
    color: black;
}
