body{
    color:white;
}

#container{
    background-image: url(../media/images/img1.jpg);
    min-height: 250px;
    background-size: cover;
}

#content{
    margin-left: 13%;
    margin-right: 14.5%;
    background-color: rgba(0, 0, 0, 0.61);
    min-height: 250px;
}

legend{
    color:white;
    font-weight:bold; 
    text-align: center;
}

#form{
    padding-left:24%;
}

#inf{ padding:2%; margin-bottom:2%;} 
#inf1{ float:left; padding-left:12%; }
#inf2{ float:left; padding-left:5%; padding-top:2.05%; }

#form{ clear:both; padding-left:24%; padding-top:2%; padding-bottom:4%; }